<ion-header>

    <ion-navbar>
        <ion-title>ModalPage</ion-title>
        <ion-buttons end>
        <button ion-button (click)="closeModal()">Close</button>
        </ion-buttons>
    </ion-navbar>
    
    </ion-header>
    
    
    <ion-content padding>
    
    </ion-content>