

<ion-header>
  <ion-navbar>
    <ion-title>Modals</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <button ion-button (click)="openModal()">Open Modal</button>

<!-- 
  <ion-list>
    <a ion-item  (click)="openModal({charNum: 0})">
      Gollum
    </a>
  </ion-list> -->

</ion-content>








