<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let video of videos">
    <ion-card-header>
      {{ video.title }}
    </ion-card-header>
    <ion-card-content>
      <a href="#" *ngIf="screen_button" (click)="presentLoading()">
        <ion-img [src]="video.screen">Show Loading</ion-img>
      </a>
      <video *ngIf="play" id="video" controls="controls" autoplay="autoplay" [poster]="video.screen" preload="metadata"
             webkit-playsinline="webkit-playsinline" class="videoPlayer">
        <source [src]="video.video" type="video/mp4"/>
      </video>
    </ion-card-content>
  </ion-card>


  <ion-toolbar>
    <ion-title>
      Description
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-content>
